@model List<Personnage>

<h1 class="text-uppercase">Mes personnages favoris</h1>
<p>
    Vous avez <span><b>1 personnage</b></span> en favoris! Bravo!
</p>
<table class="table table-striped table-dark FAVORIS">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nom Personnage</th>
            <th>Classe de base</th>
            <th>Stats de base totaux</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Personnage p in Model)
        {
            <tr>
                <td>
                    <img class="w-25" src="@p.LienImage" alt="image de @p.Nom" />
                </td>
                <td>@p.Nom</td>
                <td>@p.Classes[0]</td>
                <td>@p.StatsDeBaseTotaux</td>
            </tr>
        }
    </tbody>
</table>