@model Personnage

<h1 class="text-uppercase">Détail du personnage</h1>
<p class="badge">
    Pour ajouter en favori, cliquer sur le bouton ou appuyer sur
    <kbd>CTRL + ALT + F</kbd>
</p>
<!--La balise kbd est utilisée notamment pour les entrées du claviers.-->
<div class="d-flex gap-4">
    <div class="card" style="width: 41rem">
        <img src="@Model.LienImage" class="card-img-top" alt="Image de @Model.Nom" />
        <div class="card-body bg-dark text-light">
            @if (Model.PersonnageVedette)
            {
                <h5 class="card-title text-uppercase fs-1">Personnage vedette</h5>
            }
            <btn class="btn btn-primary text-uppercase">Favoris +</btn>
        </div>
    </div>

    <div class="fs-1 text-decoration-underline">
        <p>Nom: <span id="Nom">@Model.Nom</span></p>
        <p>
            Classes: @Model.LigneClasses
        </p>
        <p>Armes utilisés: @Model.LigneArmes</p>
        <img class="h-100 GIFS-ANIMÉS"
             src="@Model.LienGif"
             alt="Animation de ou de la classe de @Model.Nom" />
    </div>
</div>
<cite class="fs-2">"@Model.Citation"</cite>
<!--Utilisé pour les citations-->
<footer class="pt-3">
    <h2>Sources des images</h2>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="@Model.SourceImagePrincipal (Cliquer pour le lien)">
        <a class="text-light" href="@Model.LienSourceImage">@Model.Nom (Principal)</a>
    </button>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="Animation de combat d'une de ses classes dans le jeu Fire Emblem 7, d'origine sur la Game Boy Advance.">
    </button>
</footer>