@model PageRechercheViewModel

<h1>Liste des personnages</h1>
<div class="d-flex">
    <div class="row text-center">
        @foreach (var p in Model.Resultat)
        {
            <a class="RESET-A row col-md-4" href="Detail/@p.Id">
                <h2>@p.Nom</h2>
                <img class="border border-black"
                     src="@p.LienImage"
                     alt="Image de @p.Nom" />
                <p class="fs-3">Classe de base: @p.Classes[0]</p>
            </a>
        }
    </div>
    <div class="accordion FOLLOW bg-dark rounded-2" id="accordionSearch">
        <div class="accordion-item bg-dark">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark-subtle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                    Recherche
                </button>
            </h2>
            <div id="collapseOne"
                 class="accordion-collapse collapse show"
                 data-bs-parent="#accordionSearch">
                <div class="accordion-body">
                    <form class="d-flex flex-column gap-4 bg-dark p-3 text-white"
                          action="https://www.w3schools.com/action_page.php"
                          method="post">
                        <div>
                            <h3>Recherche par mots-clés</h3>
                            <input type="text" name="MotCles" placeholder="Saisir un mot mots-clés" />
                        </div>

                        <div>
                            <h3>Stats totaux</h3>
                            <div class="d-flex">
                                <input type="number" name="StatsMin" value="@Model.Criteres.StatsMin" placeholder="Min" />
                                <input type="number" name="StatsMax" value="@Model.Criteres.StatsMax" placeholder="Max" />
                            </div>
                        </div>

                        <div>
                            <h3>Personnage vedette</h3>
                            <select name="SiPersonnageVedette">
                                <option value="@enumPersonnageVedette.PeuImporte" @Model.Criteres.SelectedOuNon(@enumPersonnageVedette.PeuImporte) class="dropdown-item">Peu importe</option>
                                <option value="@enumPersonnageVedette.Oui" @Model.Criteres.SelectedOuNon(@enumPersonnageVedette.Oui) class="dropdown-item">Oui</option>
                                <option value="@enumPersonnageVedette.Non" @Model.Criteres.SelectedOuNon(@enumPersonnageVedette.Non) class="dropdown-item">Non</option>
                            </select>
                        </div>

                        <div>
                            <h3>Équipe</h3>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                    @Model.Criteres.CheckedOuNon(Model.Criteres.AvecLyn)
                                           name="AvecLyn"
                                           type="checkbox"
                                           id="Lyn-team" />
                                    <label class="form-check-label" for="Lyn-team">Équipe de Lyn</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                    @Model.Criteres.CheckedOuNon(Model.Criteres.AvecEliwood)
                                           name="AvecEliwood"
                                           type="checkbox"                                           
                                           id="Eliwood-team" />
                                    <label class="form-check-label" for="Eliwood-team">Équipe d'Eliwood</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                    @Model.Criteres.CheckedOuNon(Model.Criteres.AvecHector)
                                           name="AvecHector"
                                           type="checkbox"                                         
                                           id="Hector-team" />
                                    <label class="form-check-label" for="Hector-team">Équipe d'Hector</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between DERNIER-BOUTONS">
                            <button class="btn btn-secondary rounded-0" type="button">
                                Effacer
                            </button>
                            <button class="btn btn-primary bg-primary" type="button">
                                Rechercher
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <h2>Sources des images</h2>
    @foreach (var p in Model.Resultat)
    {
        <button type="button"
                class="RESET-BTN btn text-decoration-underline"
                data-bs-toggle="popover"
                data-bs-trigger="hover"
                data-bs-title="Source"
                data-bs-content="@p.SourceImagePrincipal (Cliquer pour le lien)">
            <a class="text-light" href="@p.LienSourceImage">@p.Nom</a>
        </button>
    }
</footer>