@model List<Roster>

<h1>Rosters de Fire Emblem 7</h1>
<div class="container col row text-center">
    @foreach (var r in Model)
    {
        <div class="ROSTER col">
            <h2 class="p-3">@r.Nom</h2>
            <img class="pb-4" src="@r.LienImage" alt="Image de @r.Nom" />
            <a href="/Enfant/Filtrer?MotCles=&StatsMin=&StatsMax=&SiPersonnageVedette=PeuImporte&Avec@(r.Nom)=true" class="btn d-block btn-primary mb-4">Parcourir</a>
            <ul class="text-start">
                <li>4 personnages</li>
                <li>A sa propre partie du jeu</li>
            </ul>
            @foreach (string paragraph in r.Description.Split("\r\n\r\n"))
            {
                <p class="text-start">@paragraph</p>
            }
        </div>
    }
</div>
<footer class="pt-3">
    <h2>Sources des images</h2>
    @foreach (var r in Model)
    {
        <button type="button"
                class="RESET-BTN btn text-decoration-underline"
                data-bs-toggle="popover"
                data-bs-trigger="hover"
                data-bs-title="Source"
                data-bs-content="@r.SourceImagePrincipal (Cliquer pour le lien) ">
            <a class="text-light"
               href="@r.LienSourceImage">Roster @r.Id</a>
        </button>
    }
</footer>